.commandList_cont {
    border: 3px solid black;
    width: 90vw;
    height: 65vh;
    margin: 20px calc(5vw - 4px);
    overflow-y: auto;
    display: flex;

    a {
        text-decoration: none;
        color: beige;
        transition: all 0.3s ease;

        &:hover {
            color:rgb(202, 202, 181);
        }

        &:focus {
            color:cornflowerblue;
        }
    }

    .commands {
        position: relative;
        transition: all 1s ease;
        overflow: hidden;
        max-height: 0;
    }

    .expand {
        max-height: 500px;
    }

    .title {
        cursor: pointer;
    }
}