header {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2vh 5vh;

    .logo, .nav {
        cursor: pointer;
    }

    .logo {
        fill: black;
        transition: all 0.5s ease;
        &:hover {
            fill: beige;
        }
    }
    .logocontainer:hover + .nav, .nav:hover {
        opacity: 100;
        transform: scaleX(100%);
    }
    .nav {
        font-weight: 500;
        font-size: 30px;
        transform-origin: 0% 0%;
        opacity: 0;
        transform: scaleX(0%);
        list-style: none;
        padding-left: 10px;
        transition: opacity 1.5s ease, transform 1s ease;

        li {
            display: inline-block;
            padding: 0px 20px;

            .link {
                color: black;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    color: beige;
                }
            }
        }
    }
}