.step2_cont {
    border: 3px solid black;
    width: 90vw;
    height: 65vh;
    margin: 20px calc(5vw - 4px);
    overflow-y: auto;
    display: flex;

    .correct_dims {
        display: none;

        .cd {
            width: 50px;
            height: 20px;
            background-color: black;
            border-radius: 5px;
        }
    }

    .add_dmg_img {
        border: 1px dashed beige;
        width: 100px;
        height: 75px;
    }

    .add_notes {
        width: 100%;
        height: 250px
    }

    .prevpage {
        position: fixed;
        bottom: 20px;
        left: calc(5vw - 4px);
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        color: beige;
        text-decoration: none;
        transition: all 3 ease;
        &:hover {
            background-color:beige;
            color: black;
        }
    }

    .nextpage {
        position: fixed;
        bottom: 20px;
        right: calc(5vw - 4px);
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        color: beige;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
            background-color:beige;
            color: black;
        }
    }

}